* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}



/* pagina equipos */
.plantel{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
.plantel td{
    background-color:rgba(255, 255, 255, 0.603); 
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid peru;  
    color: black;
}
.plantel tr:hover{
    background-color: rgba(255, 255, 255, 0.699);
}
.plantel th{
    font-weight: bolder;
    background-color: teal;
    border: 1px solid white;
    color: whitesmoke;
    font-size: 25px;
}
@media only screen and (max-width: 654px) {
    .plantel td{
        font-size: 3vw;
        padding: 5px;
    }
    .plantel th{
        font-size: 3vw;
        padding: 5px;
    }
}
/* pagina Competiciones */
.anho{
    padding-left: 2px;
    padding-right: 2px;
    list-style:none;
    width: 20%;
    margin: auto;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
.anho li{
    display: block;
}
.anho li:hover{
    display: block;
    transform: scale(1.5);
    transition: 1s;
}
.anho a{
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgba(37, 211, 211, 0.295);
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.anho a:hover{
    background-color: teal;
}
@media only screen and (max-width: 740px) {
    .anho a{
        font-size: 3vw;
        padding: 5px;
    }
}
#estadisticasFem{
    scroll-margin-top: 12em;
}
.competicionFem_anho{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color:rgba(86, 255, 255, 0.555); 
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(2, 225, 255);  
    color: rgb(255, 16, 16);
    font-weight: 600;
}
.competicionFem_anho td{
    background-color:rgba(238, 137, 159, 0.623); 
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(255, 128, 2);  
    color: rgb(85, 20, 20);
    font-weight: 600;
}
.competicionFem_anho th{
    font-weight: bolder;
    background-color: teal;
    border: 1px solid white;
    color: whitesmoke;
}
.competicionFem_anho tr:hover{
    background-color:rgba(240, 27, 73, 0.623); 
}
@media only screen and (max-width: 740px) {
    .competicionFem_anho td{
        font-size: 2vw;
        padding: 5px;
    }
    .competicionFem_anho th{
        font-size: 2vw;
        padding: 5px;
    }
}
#estadisticasMasc{
    scroll-margin-top: 12em;
}
.competicionMasc_anho{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color:rgba(86, 255, 255, 0.555); 
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(255, 128, 2);  
    color: rgb(255, 16, 16);
    font-weight: 600;
}
.competicionMasc_anho td{
    background-color:rgba(245, 196, 73, 0.623); 
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(255, 128, 2);  
    color: rgb(85, 20, 20);
    font-weight: 600;
}
.competicionMasc_anho th{
    font-weight: bolder;
    background-color: teal;
    border: 1px solid white;
    color: whitesmoke;
}
.competicionMasc_anho tr:hover{
    background-color:rgba(235, 171, 10, 0.623); 
}
@media only screen and (max-width: 740px) {
    .competicionMasc_anho td{
        font-size: 2vw;
        padding: 5px;
    }
    .competicionMasc_anho th{
        font-size: 2vw;
        padding: 5px;
    }
}
/* pagina calendario */
.calendario__calendario{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
.calendario__calendario td{
    background-color:rgba(199, 223, 223, 0.555); 
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(243, 197, 151);  
    color: rgb(3, 75, 122);
    font-weight: 600;
}
.calendario__calendario tr:hover{
    background-color:rgba(68, 196, 196, 0.712); 

}
.calendario__calendario th{
    font-weight: bolder;
    background-color: teal;
    border: 1px solid white;
    color: whitesmoke;
}
@media only screen and (max-width: 740px) {
    .calendario__calendario td{
        font-size: 2vw;
        padding: 5px;
    }
    .calendario__calendario th{
        font-size: 2vw;
        padding: 5px;
    }
}
/* pagina galeria */
.galeria__galeria{
    margin: auto;
    width: 80vw;
}
.galeria__mini{
    margin: auto;
    display: none;
    width: 80%;
}
.galeri{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
}
.galeri li{
    height: 20vw;
    flex-grow: 1;
    list-style: none;
}
.galeri img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.galeri img:hover{
    transition: 1s;
    transform: scale(1.2);
}
li:last-child {
    flex-grow: 10;
}
@media only screen and (max-width: 970px) {
    .galeria__galeria{
        display: none;
    }
    .galeria__mini{
        display: block;
    }
}
/* pagina contacto */
.formulario{
    font-family: 'Raleway', sans-serif;
    background-image:linear-gradient(to top,rgb(6, 95, 95),teal) ;
    color: whitesmoke;
}
.formulario legend{
    font-size: 4vw;
    font-weight: 800;
    padding: 2vh;
}
.formulario fieldset{
    text-align: center;
    padding-bottom: 40px;
    
}
.formulario label{
    display: block;
    font-weight: 700;
}
.formulario input{
    width: 525px;
    margin-bottom: 25px;
}
@media only screen and (max-width: 550px) {
    .formulario input{
        width: 300px;
    }
}
.formulario textarea{
    width: 500px;
    height: 200px;
    resize: none;
}
@media only screen and (max-width: 550px) {
    .formulario textarea{
        width: 300px;
    }
}
.formulario select{
    width: 200px;
    margin-bottom: 20px;
}
.formulario [type="reset"]{
    width: 200px;
    font-size: 20px;
    font-weight: 600;
}
.formulario [type="submit"]{
    width: 200px;
    font-size: 20px;
    font-weight: 600;
}
.formulario [type="checkbox"]{
        margin-top: 1vh;
        width: 20px;
}
.terminos{
    display: flex;
    justify-content: center;
    padding: 2vh;
}
.formulario [for="acepta"]{
    font-size: 20px;
    font-weight: 700;
}
.formulario [for="acepta"] a{
    font-size: 20px;
    font-weight: 700;
    text-decoration:none;
    color: yellow;
}
.formulario fieldset p{
    font-weight: 900;
    color: yellow;
}
