* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(#fab55c));
  background-image: linear-gradient(to bottom, orange, #fab55c);
  z-index: 100;
}

.header .header__equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  display: block;
  -webkit-animation: bounceInDown;
          animation: bounceInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header .header__logo img {
  height: 7em;
}

.header .header__titulo h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6em;
  color: teal;
  -webkit-animation: zoomInUp;
          animation: zoomInUp;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
}

@media only screen and (max-width: 1580px) {
  .header .header__titulo h1 {
    font-size: 4em;
  }
  .header .header__logo img {
    height: 4em;
  }
}

.header .header__nav {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  -webkit-animation: slideInRight;
          animation: slideInRight;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__nav .pages_activa {
  padding-left: 5px;
  background-color: teal;
  color: whitesmoke;
  letter-spacing: 2px;
}

.header .header__nav .nav__pages {
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
  letter-spacing: 2px;
  display: inline-block;
}

.header .header__nav .nav__pages a {
  display: inline;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: whitesmoke;
}

.header .header__nav .nav__pages a:hover {
  padding-left: 5px;
  background-color: teal;
  color: whitesmoke;
  letter-spacing: 2px;
  -webkit-transition: 1s;
  transition: 1s;
}

/* contenido index */
.principal {
  background-color: rgba(243, 138, 0, 0.623);
  /* seccion de noticias */
}

.principal__noticias {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.principal__noticias .noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.principal__noticias .noticias__articulos {
  padding: 15px;
  border: steelblue;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.principal__noticias .noticias__articulos .articulo {
  color: rgba(22, 22, 22, 0.699);
  background-color: rgba(219, 119, 26, 0.425);
  margin: 10px;
  padding: 20px;
  border: steelblue;
  text-align: justify;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.principal__noticias .noticias__articulos .articulo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.principal__noticias .noticias__articulos .articulo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.principal__noticias .noticias__articulos .articulo span a {
  text-decoration: none;
  color: teal;
}

.principal__noticias .noticias__articulos .articulo span a:hover {
  color: whitesmoke;
}

/* seccion de calendario */
.principal__cal {
  padding: 20px;
}

.cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cal__cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cal_grid {
  overflow: hidden;
}

.titulo_calendario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.titulo_calendario p {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: teal;
  padding-left: 5px;
  padding-right: 5px;
}

.calendario_grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "dia dia dia dia dia dia dia" "dia dia dia dia dia dia dia" "dia dia dia dia dia dia dia" "dia dia dia dia dia dia dia" "dia dia dia dia dia dia dia";
}

.dia {
  background-color: rgba(255, 224, 224, 0.911);
  border: 1px solid teal;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #bd7b02;
  width: 90px;
  height: 90px;
  padding: 5px;
}

.dia:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@media only screen and (max-width: 1580px) {
  .dia {
    width: 75px;
    height: 75px;
  }
}

@media only screen and (max-width: 1300px) {
  .dia {
    width: 62px;
    height: 62px;
  }
}

@media only screen and (max-width: 1084px) {
  .dia {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 991px) {
  .dia {
    width: 120px;
    height: 90px;
  }
}

/* seccion redes sociales */
.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* seccion de ultimos resultados */
.ultimos {
  grid-area: resultados;
}

.resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 0.7em;
  padding: 1em;
}

.resulta2 {
  background-image: radial-gradient(rgba(255, 206, 149, 0.781) 50%, rgba(236, 130, 10, 0.781));
  letter-spacing: 0.1em;
  width: 10em;
  height: 14em;
  border: 0.4em dotted teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resulta2 p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  color: #a73d3d;
}

.resultado:nth-child(even) {
  background-image: radial-gradient(rgba(255, 206, 149, 0.781) 70%, teal);
  letter-spacing: 3px;
  width: 6em;
  height: 8em;
  border: 0.4em dotted orange;
}

.resulta2:hover {
  -webkit-animation: headShake;
          animation: headShake;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* footer */
.footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(orange), to(#fab55c));
  background-image: linear-gradient(to top, orange, #fab55c);
  padding: 20px;
  margin: auto;
  gap: 30px;
  padding-left: 10%;
  padding-right: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__izq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.footer__izq p {
  display: block;
  color: whitesmoke;
  background-color: teal;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  font-weight: 700;
}

.footer__logo {
  height: 100px;
  margin: auto;
  display: block;
}

@-webkit-keyframes botar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(2160deg) scale(3);
            transform: rotate(2160deg) scale(3);
  }
  100% {
    -webkit-transform: rotate(4320deg);
            transform: rotate(4320deg);
  }
}

@keyframes botar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(2160deg) scale(3);
            transform: rotate(2160deg) scale(3);
  }
  100% {
    -webkit-transform: rotate(4320deg);
            transform: rotate(4320deg);
  }
}

.footer .footer__logo:hover {
  -webkit-animation-name: botar;
          animation-name: botar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.footer p {
  margin: auto;
  border-radius: 10px;
  height: 2em;
}

@-webkit-keyframes texto {
  0% {
    -webkit-transform: skew(0deg, 0deg) scale(1);
            transform: skew(0deg, 0deg) scale(1);
  }
  25% {
    color: orange;
    -webkit-transform: skew(-5deg, -5deg) scale(2);
            transform: skew(-5deg, -5deg) scale(2);
  }
  50% {
    color: whitesmoke;
    -webkit-transform: skew(0deg, 0deg) scale(1);
            transform: skew(0deg, 0deg) scale(1);
  }
  75% {
    color: orange;
    -webkit-transform: skew(5deg, 5deg) scale(2);
            transform: skew(5deg, 5deg) scale(2);
  }
  100% {
    color: whitesmoke;
    -webkit-transform: skew(0deg, 0deg) scale(1);
            transform: skew(0deg, 0deg) scale(1);
  }
}

@keyframes texto {
  0% {
    -webkit-transform: skew(0deg, 0deg) scale(1);
            transform: skew(0deg, 0deg) scale(1);
  }
  25% {
    color: orange;
    -webkit-transform: skew(-5deg, -5deg) scale(2);
            transform: skew(-5deg, -5deg) scale(2);
  }
  50% {
    color: whitesmoke;
    -webkit-transform: skew(0deg, 0deg) scale(1);
            transform: skew(0deg, 0deg) scale(1);
  }
  75% {
    color: orange;
    -webkit-transform: skew(5deg, 5deg) scale(2);
            transform: skew(5deg, 5deg) scale(2);
  }
  100% {
    color: whitesmoke;
    -webkit-transform: skew(0deg, 0deg) scale(1);
            transform: skew(0deg, 0deg) scale(1);
  }
}

.footer p:hover {
  -webkit-animation: texto 2s infinite;
          animation: texto 2s infinite;
}

.footer_contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_contenido ul {
  margin: auto;
  text-align: center;
}

.footer_contenido li {
  list-style: none;
  padding: 2px;
  margin: 2px;
  width: 300px;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.footer_contenido a {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
  text-decoration: none;
  color: teal;
  font-weight: 700;
}

.footer_contenido a:hover {
  display: block;
  color: whitesmoke;
  -webkit-transform: scale(2);
          transform: scale(2);
  font-weight: 900;
}

.footer__redes {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__red {
  height: 30px;
}

.footer__red:hover {
  -webkit-animation: headShake;
          animation: headShake;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* general paginas */
.pages__titulo {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 900;
  color: whitesmoke;
  background-color: teal;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
}

.pages__titulo:hover {
  -webkit-animation: tada;
          animation: tada;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.pages {
  background-color: rgba(243, 138, 0, 0.623);
  padding: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ramaFem {
  color: #1f1d1d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 138, 0, 0.623)), to(teal));
  background-image: linear-gradient(to bottom, rgba(243, 138, 0, 0.623), teal);
  margin: 10px;
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  scroll-margin-top: 10em;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

#ramaMasc {
  color: #1f1d1d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 138, 0, 0.623)), to(teal));
  background-image: linear-gradient(to bottom, rgba(243, 138, 0, 0.623), teal);
  margin: 10px;
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  scroll-margin-top: 10em;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.ramas {
  display: inline-block;
}

.ramas a .titulo:hover {
  background-color: whitesmoke;
  color: teal;
}

.ramas .titulo {
  display: inline-block;
  padding: 20px;
}

/* flecha de regreso arriba */
.flecha {
  position: fixed;
  bottom: 70px;
  right: 100px;
  z-index: 99;
}

.flecha:hover {
  -webkit-animation: wobble;
          animation: wobble;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.arriba {
  position: absolute;
  width: 70px;
  height: 70px;
  border-top: 15px solid whitesmoke;
  border-right: 15px solid whitesmoke;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cent {
  position: absolute;
  width: 70px;
  height: 60px;
  border-right: 15px solid whitesmoke;
  -webkit-transform: translateX(-29px);
          transform: translateX(-29px);
}

/* pagina equipos */
.plantel {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.plantel td {
  background-color: rgba(255, 255, 255, 0.603);
  text-align: left;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid peru;
  color: black;
}

.plantel tr:hover {
  background-color: rgba(255, 255, 255, 0.699);
}

.plantel th {
  font-weight: bolder;
  background-color: teal;
  border: 1px solid white;
  color: whitesmoke;
  font-size: 25px;
}

/* pagina Competiciones */
.anho {
  padding-left: 2px;
  padding-right: 2px;
  list-style: none;
  width: 20%;
  margin: auto;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.anho li {
  display: block;
}

.anho li:hover {
  display: block;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.anho a {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgba(37, 211, 211, 0.295);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.anho a:hover {
  background-color: teal;
}

#estadisticasFem {
  scroll-margin-top: 12em;
}

.competicionFem_anho {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  background-color: rgba(86, 255, 255, 0.555);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #02e1ff;
  color: #ff1010;
  font-weight: 600;
}

.competicionFem_anho td {
  background-color: rgba(238, 137, 159, 0.623);
  text-align: center;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #ff8002;
  color: #551414;
  font-weight: 600;
}

.competicionFem_anho th {
  font-weight: bolder;
  background-color: teal;
  border: 1px solid white;
  color: whitesmoke;
}

.competicionFem_anho tr:hover {
  background-color: rgba(240, 27, 73, 0.623);
}

#estadisticasMasc {
  scroll-margin-top: 12em;
}

.competicionMasc_anho {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  background-color: rgba(86, 255, 255, 0.555);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #ff8002;
  color: #ff1010;
  font-weight: 600;
}

.competicionMasc_anho td {
  background-color: rgba(245, 196, 73, 0.623);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #ff8002;
  color: #551414;
  font-weight: 600;
}

.competicionMasc_anho th {
  font-weight: bolder;
  background-color: teal;
  border: 1px solid white;
  color: whitesmoke;
}

.competicionMasc_anho tr:hover {
  background-color: rgba(235, 171, 10, 0.623);
}

/* pagina calendario */
.calendario__calendario {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.calendario__calendario td {
  background-color: rgba(199, 223, 223, 0.555);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #f3c597;
  color: #034b7a;
  font-weight: 600;
}

.calendario__calendario tr:hover {
  background-color: rgba(68, 196, 196, 0.712);
}

.calendario__calendario th {
  font-weight: bolder;
  background-color: teal;
  border: 1px solid white;
  color: whitesmoke;
}

/* pagina galeria */
.galeria__galeria {
  margin: auto;
}

.galeri {
  gap: 5px;
}

.galeri img {
  max-height: 100%;
  min-width: 100%;
}

.galeri img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* pagina contacto */
.formulario {
  font-family: 'Raleway', sans-serif;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#065f5f), to(teal));
  background-image: linear-gradient(to top, #065f5f, teal);
  color: whitesmoke;
}

.formulario legend {
  padding-left: 25px;
  font-size: 20px;
  font-weight: 800;
}

.formulario fieldset {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 40px;
}

.formulario label {
  font-weight: 500;
  padding-left: 40px;
}

.formulario input {
  width: 500px;
  margin-bottom: 25px;
}

.formulario textarea {
  width: 500px;
  height: 200px;
  resize: none;
}

.formulario select {
  width: 200px;
}

.formulario [type="reset"] {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
}

.formulario [type="submit"] {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
}

.formulario [type="checkbox"] {
  width: 200px;
}

.formulario [for="acepta"] {
  font-size: 20px;
  font-weight: 700;
}

.formulario [for="acepta"] a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: yellow;
}

.formulario fieldset p {
  padding-top: 20px;
  font-weight: 900;
  color: yellow;
}
/*# sourceMappingURL=style.css.map */