/* pagina contacto */
.formulario{
    font-family: 'Raleway', sans-serif;
    background-image:linear-gradient(to top,rgb(6, 95, 95),teal) ;
    color: whitesmoke;
    legend{
        font-size: 4vw;
        font-weight: 800;
        padding: 2vh;
    }
    fieldset{
        text-align: center;
        padding-bottom: 40px;
        
    }
    label{
        display: block;
        font-weight: 700;
    }
    input{
        width: 525px;
        margin-bottom: 25px;
    }
    textarea{
        width: 500px;
        height: 200px;
        resize: none;
    }
    select{
        width: 200px;
        margin-bottom: 20px;
    }
    [type="reset"]{
        width: 200px;
        font-size: 20px;
        font-weight: 600;
    }
    [type="submit"]{
        width: 200px;
        font-size: 20px;
        font-weight: 600;
    }
    [type="checkbox"]{
        margin-top: 1vh;
        width: 20px;
    }
    [for="acepta"]{
        font-size: 20px;
        font-weight: 700;
    }
    [for="acepta"] a{
        font-size: 20px;
        font-weight: 700;
        text-decoration:none;
        color: yellow;
    }
    fieldset{
        p{
            font-weight: 900;
            color: yellow;
        }
    } 
}
@media only screen and (max-width: 550px) {
    .formulario input{
        width: 300px;
    }
    .formulario textarea{
        width: 300px;
    }
}
.terminos{
    display: flex;
    justify-content: center;
    padding: 2vh;
}