/* contenido index */
.principal{
    background-color: rgba(243, 138, 0, 0.623);
}
/* seccion de noticias */
.principal__noticias{
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.noticias{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.noticias__articulos{
    padding:15px;
    border: steelblue;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.articulo{
    color: rgba(22, 22, 22, 0.699);
    background-color: rgba(219, 119, 26, 0.425);
    margin:10px;
    padding:20px;
    border: steelblue;
    text-align: justify;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    :hover{
        transform: scale(1.1);
    }
    span{
        display: flex;
        justify-content: flex-end;
        align-content: space-between;
        a{
            text-decoration: none;
            color: teal;
            :hover{
                color: whitesmoke;
            }
        }
    }
}
/* seccion de calendario */
.principal__cal{
    padding: 20px;
}
.cal{
    display: flex;
    justify-content: center;
}
.cal__cal {
    display: flex;
    justify-content: center;
}
.cal_grid{
    overflow: hidden;
}
.titulo_calendario{
    display: flex;
    justify-content: space-evenly;
    p{
        font-size: 30px; 
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: whitesmoke;
        background-color: teal;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.calendario_grid{
    display: grid;
    grid-template-areas: "dia dia dia dia dia dia dia""dia dia dia dia dia dia dia""dia dia dia dia dia dia dia""dia dia dia dia dia dia dia""dia dia dia dia dia dia dia";
}
.dia{
    background-color: rgba(255, 224, 224, 0.911);
    border: 1px solid teal;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(189, 123, 2);
    width: 90px;
    height: 90px;
    padding: 5px;
    &:hover{
        animation: pulse;
        animation-duration: 0.3s;
    }
}
@media only screen and (max-width: 1580px) {
    .dia {
        width: 75px;
        height: 75px;
    }
}
@media only screen and (max-width: 1300px) {
    .dia {
        width: 62px;
        height: 62px;
    }
}
@media only screen and (max-width: 1084px) {
    .dia {
        width: 55px;
        height: 55px;
    }
}
@media only screen and (max-width: 991px) {
    .dia {
        width: 120px;
        height: 90px;
    }
}
@media only screen and (max-width: 950px) {
    .dia {
        width: 100px;
        height: 80px;
    }
}
@media only screen and (max-width: 750px) {
    .dia {
        width: 80px;
        height: 70px;
    }
}
@media only screen and (max-width: 600px) {
    .dia {
        width: 70px;
        height: 70px;
    }
}
@media only screen and (max-width: 550px) {
    .dia {
        width: 60px;
        height: 60px;
    }
}
@media only screen and (max-width: 465px) {
    .dia {
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 464px) {
    .dia {
        width: 40px;
        height: 40px;
    }
}
/* seccion redes sociales */
.redes{
    display: flex;
    flex-direction: column;
}
.sociales{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: 2vw;
    gap: 2vw;
}
.redes__facebook{
    justify-content: center;
    iframe{
        margin: auto;
    }    
}
.redes__twitter{
    width: 100%;
    align-items: center;
}
.sociales-mini{
    display: none;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}
@media only screen and (max-width: 550px) {
    .sociales-mini{
        display: flex;
    }
    .sociales{
        display: none;
    }
}
/* seccion de ultimos resultados */
.ultimos{
    grid-area: resultados;
}
.resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.7em;
    padding: 1em;
}
@media only screen and (max-width: 388px) {
    .resultados {
        flex-direction: column;
    }
}
.resulta2{
    background-image: radial-gradient(rgba(255, 206, 149, 0.781) 50%,rgba(236, 130, 10, 0.781));
    letter-spacing: 0.1em;
    width: 10em;
    height: 14em;
    border: 0.4em dotted teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        font-family: 'Raleway', sans-serif;
        font-size: 1.6em;
        font-weight: 900;
        color: rgb(167, 61, 61);
    }
    &:hover{
        animation: headShake;
        animation-duration: .1s;
        transform: scale(1.2);
    }
}
.resultado:nth-child(even){
    background-image: radial-gradient(rgba(255, 206, 149, 0.781) 70%,teal);
    letter-spacing: 3px;
    width: 6em;
    height: 8em;
    border: 0.4em dotted orange;
}