* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

@import "vars";
@import "header";
@import "principal";
@import "footer";
@import "objetos";
@import "equipos";
@import "comp";
@import "cal";
@import "galeria";
@import "contacto";